{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'eventsite/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-pane">
            <h2>Choices</h2>
            <ul id="choices-list">
                {% for choice in choices %}
                    <li>
                        <input type="checkbox" id="{{ choice.0 }}" class="choice-checkbox" value="{{ choice.0 }}">
                        <label for="{{ choice.0 }}">{{ choice.1 }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="right-pane">
            <h2>Selected Choices</h2>
            <div id="display-data">
                <!-- Data will be displayed here -->
            </div>
        </div>
    </div>
    <script src="{% static 'eventsite/script.js' %}"></script>
</body>
</html>