/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left-pane {
    width: 30%;
}

.right-pane {
    width: 70%;
}

ul {
    list-style: none;
    padding: 0;
}

.choice-checkbox {
    margin-right: 10px;
}

/* Add styles for the horizontal line */
.horizontal-line {
    border-bottom: 1px solid #000; /* You can adjust the color and line thickness */
    width: 30%;
    /* margin-top: 10px; /* Adjust as needed for spacing above the line */
    /* margin-bottom: 10px; Adjust as needed for spacing below the line */ 
    margin-left: 2px;

}

.container2 {
    text-align: left;
}

.clear-link {
        font-size: x-small;
    }

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 50%;
    margin: 10% auto;
}

.close {
    float: right;
    cursor: pointer;
}