/* styles.css */
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif; /* Optional: Choose your preferred font-family */
    margin: 0;
    padding: 0;
    margin-top: 75px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, p {
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left-pane {
    width: 30%;
}

.right-pane {
    width: 70%;
}

ul {
    list-style: none;
    padding: 0;
}

.choice-checkbox {
    margin-right: 10px;
}

/* Add styles for the horizontal line */
.horizontal-line {
    border-bottom: 1px solid #000; /* You can adjust the color and line thickness */
    width: 30%;
    /* margin-top: 10px; /* Adjust as needed for spacing above the line */
    /* margin-bottom: 10px; Adjust as needed for spacing below the line */ 
    margin-left: 2px;

}

.container2 {
    text-align: left;
}

.clear-link {
        font-size: x-small;
    }

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 50%;
    margin: 10% auto;
}

.close {
    float: right;
    cursor: pointer;
}

a {
    color: rgb(234, 234, 229); /* Use your desired color code */
    text-decoration: none; /* Optional: Remove underline */
}

.styled-box {
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 20px;
    width: 600px; /* Set a fixed width for the box */
    margin: 20px auto; /* Center the box vertically */
    margin-left: 1%; /* Center the box horizontally */
    margin-right: auto; /* Center the box horizontally */
}

.styled-box h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.styled-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.styled-box li {
    margin-bottom: 8px;
}


/* Style for the social media section */
.social-media-section {
    background-color: #333; /* Background color of the section */
    padding: 20px; /* Adjust the padding based on your design */
    color: #fff; /* Text color */
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
  }
    .social-media-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    }

    .social-media-icons li {
    display: inline-block;
    margin-right: 15px; /* Adjust the spacing between icons */
    }

    .social-media-icons a {
    text-decoration: none;
    color: #fff; /* Icon color */
    font-size: 24px; /* Adjust the font size based on your design */
    }
.custom-checkbox .checkmark:after {
left: 7px; /* Adjust the position of the checkmark */
top: 3px; /* Adjust the position of the checkmark */
width: 5px; /* Adjust the size of the checkmark */
height: 10px; /* Adjust the size of the checkmark */
border: solid #000; /* Black border color for the checkmark */
border-width: 0 2px 2px 0;
transform: rotate(45deg);
}